.row{
    display:flex;
    flex-direction: row;
}

.square{
    width:100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding-bottom: 25px;
    font-size: 30px;
}

.b-bottom-r{
    border-right: 7px solid black;
    border-bottom: 7px solid black;
}

.b-bottom{
    border-bottom: 7px solid black;
}

.b-right{
    border-right: 7px solid black;
}

.game{
    font-weight: bold;
    display: flex;
    width:100%;
    flex-direction: column;
    color:black;
}

.game button{
    width:17%;
    padding:0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}